@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .button {
    height: 30px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 2px 10px;
    color: #D9E0FF;
    background-color: #331EBE;
    border-radius: 8px;
    max-width: 50vw;
  }
  .button:hover {
    background-color: #291799
  }

  .h2 {
    font-size: 20px;
    margin: 24px 0 20px 0;
    font-family: Roboto;
  }
}
* {
  box-sizing: border-box;
  color: #053156;
}

/* #root {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
}

#app {
  background: radial-gradient(80.99% 100% at 50% 0%, #00FF0A 0%, #03298E 100%), radial-gradient(50% 123.47% at 50% 50%, #EFE7C8 0%, #84BEF3 100%), linear-gradient(301.28deg, #E995D8 0%, #0C63D9 100%), linear-gradient(294.84deg, #5A60E4 0%, #BCF5FD 100%), linear-gradient(52.29deg, #000000 0%, #00FF85 100%), radial-gradient(100% 138.69% at 100% 0%, #0007A5 0%, #FF7A00 100%), radial-gradient(70.41% 100% at 50% 0%, #D5B300 0%, #0015AA 100%);
  background-blend-mode: screen, screen, lighten, overlay, lighten, difference, normal;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
